.container {
  position: relative;
}
.container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: hotpink;
  border-radius: 100%;
  transition: all 2s;
}
